body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.social-links a:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

/* Footer  */
footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.navbar-brand:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: rgba(167, 139, 250, 1);
  border: rgba(167, 139, 250, 1);
  color: #212529;
}
.btn-primary:hover{
  background-color: #212529;
  color:  rgba(167, 139, 250, 1);
}

.btn-outline-light:hover{
  background-color: #212529;
  color:  rgba(167, 139, 250, 1);
  border: none;
}